.day-clear {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/sun.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.night-clear {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/moon.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.day-clouds {
  background-image: linear-gradient(
      rgba(100, 100, 100, 0.5),
      rgba(100, 100, 100, 0.4)
    ),
    url("images/cloud-sun.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.night-clouds {
  background-image: linear-gradient(
      rgba(54, 54, 54, 0.5),
      rgba(70, 70, 70, 0.4)
    ),
    url("images/cloud-moon.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.cloudy-day {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/day-cloud.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.cloudy-night {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/night-cloud.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.rainy {
  background-image: linear-gradient(
      rgba(62, 62, 62, 0.5),
      rgba(99, 99, 99, 0.4)
    ),
    url("images/rain.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.thunder {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/lightning.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.snow {
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.5),
      rgba(40, 40, 40, 0.4)
    ),
    url("images/snow.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}

.misty {
  background-image: linear-gradient(
      rgba(120, 120, 120, 0.5),
      rgba(130, 130, 130, 0.4)
    ),
    url("images/mist.jpg");
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
  background-size: 100%;
}
