:root {
  --primary-color: #ebebe3;
  --secondary-color: #c19898;
  --tertiary-color: #4a4a48;
  --accent-color: #2b2b28;
}

.Weather {
  border: 5px solid var(--secondary-color);
  border-radius: 12px;
  padding: 50px;
  background-color: var(--primary-color);
  text-align: center;
}

.Weather .btn {
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

.Weather h1 {
  margin: 15px 0 0 0;
  font-size: 35px;
}

.Weather ul {
  list-style: none;
  padding: 0px;
  font-size: 20px;
}

.Weather p {
  opacity: 0.8;
  font-size: 18px;
}

.Weather strong {
  font-size: 30px;
}

.backgroundWeather {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
    url("images/moon.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border: 5px solid var(--tertiary-color);
  padding: 75px;
  border-radius: 12px;
  margin: 20px auto;
}

.displayWeather {
  color: var(--primary-color);
}

.displayWeather a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.displayWeather a:hover {
  color: var(--primary-color);
}

.loading {
  text-align: center;
  font-size: 35px;
  color: #c19898;
}
