.WeatherForecast {
  text-align: center;
  font-size: 14px;
  color: #2b2b28;
}

.WeatherForecast-day {
  margin-bottom: 5px;
}

.WeatherForecast-temperature-min {
  opacity: 0.7;
  margin-left: 5px;
}
